.flag {
    width: 20px;
    display: inline-block;
}

.world-map {
    width: 1000px;
}

.blue {
    color: #5575C1;
}

.green {
    color: #4C834B;
}

.red {
    color: #D24E5B;
}

.yellow {
    color: #FFD435;
}

.purple {
    color: #A653BA;
}

.default {
    color: grey;
}
